<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ES6 hW</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <style>
        body{
            display: flex;
        }
    </style>
</head>
<body>
    <div class="1411">
        <h1>ES6 1.4.1 hw1</h1>
        <div class="student_information">
            <ul >
            <li v-for="i in items">
                {{i.item}}
            </li>
            </ul>
        </div>
    </div>
    <div class="1412">
        <h1>ES6 1.4.1 hw2</h1>
        <div class="game_information">
            <ul v-for="i in items">
                <li >
                    {{i.item}}
                </li>
            </ul>
        </div>
    </div>
    <div class="1421">
        <h1>ES6 1.4.2 hw1</h1>
        <div class="hw1_142">
            <button v-on:click="lottery1">7-11的100元購物券</button>
            <button v-on:click="lottery2">手機</button>
            <button v-on:click="lottery3">PS4遊戲機</button>
            <button v-on:click="lottery4">50吋液晶電視</button>
            <ol>
                <li v-for="i in people">
                    {{i}}
                </li>
            </ol>
        </div>
    </div>
    <div class="1422">
        <h1>ES6 1.4.2 hw2</h1>
        <div class="hw2_142">
            <p>平方公尺: </p><input type="text" v-model="Ping">
            <p>坪數: {{Ping * 3.30579}}</p>
        </div>
    </div>
</body>
</html>
<script>
    var student_information = new Vue({
        el: ".student_information",
        data: {
            items: [
                {item: "學號 : studentID"},
                {item: "學生的姓名 : studentName"},
                {item: "學生的出生年月日 : studentDateOfBirth"},
                {item: "學生的住址 : studentAddress"},
                {item: "學生的聯絡電話 : studentContactNumber"},
                {item: "學生的家長 : parentsOfStudents"},
            ]  
        }
    })
    var game_information = new Vue({
        el: ".game_information",
        data: {
            items: [
                {item: "遊戲的發行編號 : gamerReleaseNumber"},
                {item: "遊戲名稱 : gameName"},
                {item: "遊戲的製作公司 : gameProductionCompany"},
                {item: "遊戲的發行日期 : gameReleaseDate"},
                {item: "遊戲支援的語言 : gameLanguages"},
                {item: "遊戲支援的平台 : gamePlatform"},
                {item: "遊戲的種類 : gameType"},
                {item: "遊戲是否為18禁 : isGame18"},
                {item: "遊戲是否需要網路連線 : isGameConnection"},
            ]
        }
    })
    var hw1_142 = new Vue({
        el: ".hw1_142",
        data: {
            people:[]
        },
        methods: {
            lottery1: function(){
                let num = 0;
                this.people = [];
                for(let i = 0; i < 100; i++){  
                    num = Math.floor(Math.random()*10000)
                    console.log(num)
                    this.people.push("7-11的100元購物券得獎者: " + num)
                    //console.log(this.people)
                }
            },
            lottery2: function(){
                let num = 0;
                this.people = [];
                for(let i = 0; i < 10; i++){  
                    num = Math.floor(Math.random()*10000)
                    console.log(num)
                    this.people.push("手機行動充電器得獎者: " + num)
                    //console.log(this.people)
                }
                people = [];
            },
            lottery3: function(){
                let num = 0;
                this.people = [];
                for(let i = 0; i < 3; i++){  
                    num = Math.floor(Math.random()*10000)
                    console.log(num)
                    this.people.push("PS4遊戲機得獎者: " + num)
                    //console.log(this.people)
                }
            },
            lottery4: function(){
                let num = 0;
                this.people = [];
                for(let i = 0; i < 1; i++){  
                    num = Math.floor(Math.random()*10000)
                    console.log(num)
                    this.people.push("50吋液晶電視得獎者: " + num)
                    //console.log(this.people)
                }
            }
        } 
    })
    var hw2_142 = new Vue({
        el: ".hw2_142",
        data: {
            Ping: 0
        }
    })
</script>